<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>casestudy</display-name>
  <welcome-file-list>
    <welcome-file>Main.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookAPatient</display-name>
    <servlet-name>BookAPatient</servlet-name>
    <servlet-class>servlets.BookAPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAPatient</servlet-name>
    <url-pattern>/BookAPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dccontroller</display-name>
    <servlet-name>dccontroller</servlet-name>
    <servlet-class>com.controller.dccontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dccontroller</servlet-name>
    <url-pattern>/dccontroller</url-pattern>
  </servlet-mapping>
  
 
  <servlet>
    <description></description>
    <display-name>AddPatientServlet</display-name>
    <servlet-name>AddPatientServlet</servlet-name>
    <servlet-class>servlets.AddPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatientServlet</servlet-name>
    <url-pattern>/AddPatientServlet</url-pattern>
  </servlet-mapping>
</web-app>